.wrap{
	width: 600px;
	margin:auto;
}
h1 {
	color: gray;
}
li {
	display: inline;
	padding: 1em;
}
nav {
	margin-left:  -55px;
}
img{
	display: none;
}
li input {
	display: none;
}
li.edit span {
	display: none;
} 
li.edit input{
	display: initial;
}

span {
	visibility: visible;
}
